{% extends 'cusbase.html' %}
{%block title%}Pay Bill{%endblock%}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="container pt-4">
        <div class="form-container">
        <h2>Pay Bill</h2>
        <form action="/paybill" method="POST">
            <div class="mb-3">
            <label for="tenantid" class="form-label">Tenant ID</label>
            <input type="text" class="form-control" id="tenantid" name="tenantid" value="{{data[0][1]}}" disabled>
            <input type="hidden" name="tenantid" value="{{data[0][1]}}">
            </div>

            <div class="mb-3 text-light">
            <label for="month" class="form-label">Bill</label>
            <select class="form-select" id="type" name="bill">
                <option selected>Select Bill</option>
                {% for d in data %}
                <option value="{{d[0]}}">{{d[7]}} - {{d[5]}} : {{d[6]}} tk</option>
                {% endfor %}
            </select>
            </div>

            <div class="mb-3">
                <label for="tID" class="form-label">Transaction ID</label>
                <input type="text" class="form-control" id="tID" name="tID" placeholder="Enter Transaction ID">
            </div>
    

            <button type="submit" class="btn btn-primary mb-3">Pay Now</button>
        </form>
        </div>
    </div>
</main>
{% endblock %}