{% extends 'adminbase.html'%}
{% block title %}Add Room{% endblock %}
{% block content %}
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
          <h1 class="h4">Manage Rooms</h1>
          <div>
            <input type="text" class="form-control d-inline w-auto" placeholder="Search">
            <button class="btn btn-primary ms-2">Add room</button>
          </div>
        </div>

        
        <div class="list-group">
          <div class="list-group-item d-flex justify-content-between align-items-center">
            <div>
              <strong>Room x</strong> - Current tenant: y
            </div>
            <div>
              <select class="form-select d-inline w-auto">
                <option selected>Select an action</option>
                <option value="1">Edit</option>
                <option value="2">Remove Tenant</option>
              </select>
              <button class="btn btn-sm btn-primary ms-2">Update</button>
            </div>
          </div>
          <div class="list-group-item d-flex justify-content-between align-items-center">
            <div>
              <strong>Room x</strong> - Current tenant: y
            </div>
            <div>
              <select class="form-select d-inline w-auto">
                <option selected>Select an action</option>
                <option value="1">Edit</option>
                <option value="2">Remove Tenant</option>
              </select>
              <button class="btn btn-sm btn-primary ms-2">Update</button>
            </div>
          </div>
          <div class="list-group-item d-flex justify-content-between align-items-center">
            <div>
              <strong>Room x</strong> - Current tenant: y
            </div>
            <div>
              <select class="form-select d-inline w-auto">
                <option selected>Select an action</option>
                <option value="1">Edit</option>
                <option value="2">Remove Tenant</option>
              </select>
              <button class="btn btn-sm btn-primary ms-2">Update</button>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
{% endblock %}
